<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.martin.fast.frame.fastframe">

    <application
        android:name="com.martin.fast.frame.fastlib.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.martin.fast.frame.fastframe.test.ModuleMgrImpl"
            android:value="module_manager" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.martin.fast.frame.fastframe.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider>

        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.ARouterActivity" />
        <activity android:name=".ui.activity.DialogUseActivity" />
        <activity android:name=".ui.activity.TipDialogActivity" />
        <activity android:name=".ui.activity.RetrofitActivity" />
    </application>

</manifest>